replicaCount: 1

image:
  repository: docker.litellm.ai/berriai/litellm
  tag: main-stable
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 4000

env:
  STORE_MODEL_IN_DB: "True"

secretEnv:
  db_user: "llmproxy"
  db_password: "dbpassword9090"
  db_host: "host"
  db_name: "litellm"
  db_port: "5432"

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: litellm.local
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  requests:
    cpu: 250m
    memory: 256Mi
  limits:
    cpu: 500m
    memory: 512Mi

nodeSelector: {}

tolerations: []

affinity: {}
