{{- if .Values.ingress.enabled }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "mlflow.fullname" . }}
  annotations:
{{- range $k, $v := .Values.ingress.annotations }}
    {{ $k }}: "{{ $v }}"
{{- end }}
spec:
{{- if .Values.ingress.className }}
  ingressClassName: "{{ .Values.ingress.className }}"
{{- end }}
  rules:
    - host: {{ .Values.ingress.host }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ include "mlflow.fullname" . }}
                port:
                  number: {{ .Values.service.port }}
{{- if .Values.ingress.tls }}
  tls:
    - hosts:
        - {{ .Values.ingress.host }}
      secretName: {{ .Values.ingress.tlsSecretName }}
{{- end }}
{{- end }}
